<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <body>
    <%- include partials/header.ejs%>
    <br> 
    <div class="container row justify-content-center sc">
		<h2 class="products-title">Estás editando: <i><%= ropas.name %></i></h2>
      <div class="conteiner">
		<form action="/products/<%= ropas.id %>" method="PATCH">
    <div class="form-group ">
    <div class="form-group ">
      <label for="nombre">Ingrese un Nombre:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Ej: Zapatillas Reebok" value="<%= ropas.name %>" >
      <small class="form-text text-muted"></small>
   
    </div>
    <div class="form-group">
      <label for= "price">Precio del producto:</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="Ej: 5678" value="<%= ropas.price %>">
      <small class="form-text text-muted"></small>

    </div>
    <div class="form-group">
      <label for= "discount">Descuento:</label>
      <input type="text" class="form-control" id="Descuento:" name="discountPercentage" placeholder="Ej:15" value="<%= ropas.discount %>">
      <small class="form-text text-muted"></small>
     
    </div>
    <div class="form-group">
      <label for="category" class="form-label">Categoría:</label>
      <select name="category" id="category" class="form-control">
        <option value="">Elegí</option>
								<option 
									value="HOMBRE" 
									<%= ropas.category == 'HOMBRE' ? 'selected' : null %>
								>
									HOMBRE
								</option>
								<option 
									value="MUJER" 
									<%= ropas.category == 'MUJER' ? 'selected' : null %>
								>
									MUJER 
								</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Descipción:</label>
      <textarea name="description"id="description" class="form-control"></textarea>  <%= ropas.description %></textarea>
    </div>
    <div class="form-group">
      <form action="">
        <label for="image">Seleccione una imagen:</label>
        <input type="file" id="image" name="image" accept="image/*" value="ropas.image" />
      </form>
    </div>
    <div class="form-group">
      <label for="talle" >Talle:</label>
      <select name="talle" id="talle" class="form-input">
        <option value="">Elegí</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Guardar producto
      
    </button>
  </div>     
  </form>
</div>
</div>
    <%- include partials/footer.ejs %>
  </body>
</html>
